<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<div th:fragment="copy">
    <ul class="list-group list-group-horizontal-sm">

        <li class="list-group-item rounded-0 border-0 bg-black text-white">Элемент</li>
        <li class="list-group-item rounded-0 border-0 bg-black text-white">Второй элемент</li>
        <li class="list-group-item flex-fill text-right rounded-0 border-0 bg-black text-white"><a th:href="@{~/logout}">Выйти</a>
        </li>
    </ul>
    <!--
     <a th:href="@{~/logout}">Выйти</a>
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{~/user}">Страница пользователя</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{~/admin/}">Панель Админа</a>
    </div>
    -->
</div>
</body>
</html>